<!DOCTYPE html>
<html>
<head>
	<title>$broadcastExample</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<style type="text/css">
		input[type=text]{
			width: 10em;
			border-radius: 5px ;
            padding: 5px;
            margin: 5px;
		}
	</style>
	<script type="text/javascript">
angular.module("myapp",[])
.controller("c1",function($scope){
	$scope.fun1=function(){
	obj1={uname:$scope.t1,city:$scope.t2}
	obj2={salary:$scope.t3}
	$scope.$broadcast("b1",obj1)
	$scope.$broadcast("b2",obj2)

	}

})
.controller("c2",function($scope){
	$scope.$on("b1",function(obj,dt){
		$scope.un=dt.uname
		$scope.ct=dt.city

	})
})
.controller("c3",function($scope){
	$scope.$on("b2",function(ob,x){
		$scope.sal=x.salary
		$scope.tds=$scope.sal/10

	})
})
	

	</script>
</head>
<body ng-app="myapp" ng-controller="c1">
Name:<br><input type="text" name="" ng-model="t1"><br>
City:<br><input type="text" name="" ng-model="t2"><br>
Salary:<br><input type="text" name="" ng-model="t3"><br>
<button ng-click="fun1()">Click</button>
<div ng-controller="c2">
Uname:{{un}}
<br>
City:{{ct}}<br>
salary:{{sal}}
<br>
Tds:{{tds}}
</div>
<hr> 
<div ng-controller="c3">
salary:{{sal}}
<br>
Tds:{{tds}}
</div>

</body>
</html>